/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@mixin box($baseFileName, $imageWidth, $padding: 40px) {
	padding: $padding;
	$imageLength: image-width('#{$baseFileName}-horiz.png');

	background-image: url(../images/#{$baseFileName}-horiz.png), url(../images/#{$baseFileName}-horiz.png), url(../images/#{$baseFileName}-vert.png), url(../images/#{$baseFileName}-vert.png);

	background-position: top left, bottom left, left, right;
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;

	background-size: $imageLength $imageWidth, $imageLength $imageWidth, $imageWidth $imageLength, $imageWidth $imageLength;
}


.box-black-multi-1 {
	@include box(black-multi-1, 40px);
}

.box-black-single-1 {
	@include box(black-single-1, 40px);
}
.box-black-single-2 {
	@include box(black-single-2, 40px);
}

.box-blue-multi-1 {
	@include box(blue-multi-1, 40px);
}
.box-blue-multi-2 {
	@include box(blue-multi-2, 40px);
}

.box-blue-single-1 {
	@include box(blue-single-1, 40px);
}
.box-blue-single-2 {
	@include box(blue-single-2, 40px);
}

.box-red-multi-1 {
	@include box(red-multi-1, 40px);
}

.box-red-single-1 {
	@include box(red-single-1, 40px);
}
.box-red-single-2 {
	@include box(red-single-2, 40px);
}
